@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('subset-ProximaNova-Bold.eot');
    src: url('subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-ProximaNova-Bold.woff2') format('woff2'),
        url('subset-ProximaNova-Bold.woff') format('woff'),
        url('subset-ProximaNova-Bold.ttf') format('truetype'),
        url('subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

